:root {
    --d: #000000;
    --bd: #00084d;
    --bdo: #000940dc;
    --bo: #024873;
    --b: #0511F2;
    --bl: #009FE3;
    --w: #ffffff;
    --td: #15336D;
    --tl: #00F8E8;
    --gdt: linear-gradient(to top, #000000, 2%, #000000 20%, 30%, #00000000 100%);
    --bdg: linear-gradient(to top, hsla(253, 100%, 50%, 0.674), 2%, hsla(209, 98%, 25%, 0.493) 59.42857265472412%, 79.71428632736206%, hsla(240, 100%, 2%, 0.394) 100%);
    --po: rgba(0, 0, 0, 0.5);
}

/* Dispositivos extra small (telefones em modo retrato, com menos de 576px) */
@media (max-width: 575.98px) {
    .offcanvas-collapse {
        padding: 6rem 1.05rem 0 0rem;
    }
}

/* Dispositivos small (telefones em modo paisagem, com 576px ou mais) */
@media (min-width: 576px) and (max-width: 767.98px) {
    h1 {
        font-size: 2em;
    }

    .offcanvas-collapse {
        padding: 6rem 1.05rem 0 0rem;
    }
    .row.g-0 img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* ou 'contain' dependendo do efeito desejado */
    }
}

/* Dispositivos médios (tablets com 768px ou mais) */
@media (min-width: 768px) and (max-width: 991.98px) {
    h1 {
        font-size: 3em;
    }

    .offcanvas-collapse {
        padding: 6rem 1.05rem 0 0rem;
    }

    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }

    .row.g-0 img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* ou 'contain' dependendo do efeito desejado */
    }
}

/* Dispositivos large (desktops com 992px ou mais) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    h1 {
        font-size: 4em;
    }

    .offcanvas-collapse {
        padding: 0rem 0rem 0 0rem;
    }

    .card-body {
        height: 550px;
    }
    .row.g-0 img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* ou 'contain' dependendo do efeito desejado */
    }
}

/* Dispositivos extra large (desktops grandes com 1200px ou mais) */
@media (min-width: 1200px) {
    h1 {
        font-size: 5em;
    }

    .offcanvas-collapse {
        padding: 0rem 0 0 0rem;
    }

    .card-body {
        height: 450px;
    }
}


/* Prevent scroll on narrow devices */
html,
body {
    background-color: var(--d);
    overflow-x: hidden;
}

@media (max-width: 991.98px) {
    .offcanvas-collapse {
        position: fixed;
        top: 0px;
        /* Height of navbar */
        bottom: 0;
        left: 100%;
        width: 50%;
        text-align: end;
        overflow-y: auto;
        visibility: hidden;
        background-color: var(--po);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    }

    .offcanvas-collapse.open {
        visibility: visible;
        transform: translateX(-100%);
    }

}

#topo {
    background: var(--po);
    color: var(--w);

}

.blur {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

}

ul.navbar-nav {
    margin-left: auto;
}

.navbar-toggler {
    padding: 0px 4px;
    border: none;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link,
.navbar-nav .nav-link.show {
    font-size: 1.3em;
    color: var(--w);
    border-radius: 10px;
    text-align: end;
}

.dropdown-menu {
    margin: 0px 0px 0px auto;
    width: 100px;
    border-radius: 10px;
    background: var(--po);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

}

.dropdown-item {
    transition: 0.3s;
    text-align: center;
    color: var(--w);

}

.dropdown-item:hover {
    color: var(--bl);
    background: var(--po);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

}

/* botao */
* {
    #menu-bar {
        z-index: 999;
        width: 45px;
        height: 45px;
        float: inline-end;
    }

    .change #menu-bar,
    .change #menu-bar1 {
        z-index: 999;
        position: relative;
    }

    .bar {
        width: 100%;
        display: block;
        height: 4px;
        background-color: var(--bl);
        border-radius: 5px;
    }

    #bar1 {
        transform: translateY(-7px);
        transition: 1.5s ease-in-out;

    }

    #bar2 {
        transition: 1.5s ease-in-out;
        margin-left: auto;
    }

    #bar3 {
        transform: translateY(7px);
        transition: 1.5s ease-in-out;

    }

    .change#bar1 {
        transform: translateY(3px) rotateZ(-45deg);
    }

    .change#bar2 {
        opacity: 0;
        width: 0px;
    }

    .change#bar3 {
        transform: translateY(-3px) rotateZ(45deg);
    }
}

/* main */
#slogan {
    width: 100%;
    height: 100vh;
    background:
        var(--bdg),
        url(assets/img/carro-carrossel.jpg);
    -webkit-background-position: center;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-attachment: fixed;
    /* Script usado para substituir o background-attachment fixed
    document.addEventListener("scroll", function(){
    document.querySelector("main").style.backgroundPosition = '0 '+window.scrollY+'px';
 });
    */
}

#main {
    margin: -80px
}

h1.display-1 {
    font-weight: 400;
    font-style: italic;
    text-shadow: 1px 1px 7px var(--po);
}

.m- {
    margin: -50px;
}

.round {
    border-radius: 13px;
}

.roundl {
    border-radius: 13px 0px 0px 13px;
}

.roundr {
    border-radius: 0px 13px 13px 0px;
}

/* card */
p.card-text {
    font-size: 1.2em;
}

.card.round{
    margin-top: -20px;
}

.row.d-none .col-lg-4.mb-5{
    transition: 0.5s;
}
.row.d-none .col-lg-4.mb-5:hover {
scale: 105%;
}
.row.d-lg-none .col-lg-4.mb-5{
    transition: 0.5s;
}
.row.d-lg-none .col-lg-4.mb-5:hover {
scale: 108%;
}