* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --text-color: white;
    --bg-url: url(Assets/Background/bg-mobile-dark.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(255, 255, 255, 0.2);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(Assets/moon-stars.svg);
}

.light {
    --text-color: black;
    --bg-url: url(Assets/Background/bg-mobile-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.2);
    --highlight-color: rgba(0, 0, 0, 0.2);
    --switch-bg-url: url(Assets/sun.svg);

}

body {
    /* background-image: url(Assets/Background/bg-mobile-dark\ \(1080x1920\).jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover; */
    /* background: color image repeat position /size */
    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;

}

body * {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);

}

#container {
    width: 360px;
    margin: 56px auto;
    padding: 24px;
}


/* profile */
#profile {
    text-align: center;
    padding: 24px;
}

#profile img {
    width: 112px;
    height: 112px;
    margin: auto;
}

#profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

/* switch */
#switch {
    position: relative;
    /* permite que qualquer posição absoluta do elemento continue dentro dele  */
    width: 64px;
    margin: 4px auto;

}

#switch button {
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    z-index: 1;
    left: 0;
    transform: translateY(-50%);
    animation: slide-out 0.4s;
    transition: outline 0.2s;
}

.light #switch button {
    animation: slide-in 0.4s forwards;
    /* forwards mantem a animação no TO */
}

#switch button:hover {
outline: 8px solid var(--highlight-color);
}
#switch span {
    display: block;
    width: 64px;
    height: 24px;
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 9999px;
}

/* links */
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0px;
}

ul li a {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 16px 24px;

    background: var(--surface-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;

    text-decoration: none;
    font-weight: 500;
    transition: background .5s, border .5s;
}

ul li a:hover {
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}

/* icones */
#social-links {
    display: flex;
    justify-content: center;
    padding: 24px 0px;
    font-size: 24px;
}

#social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 50%;
    transition: background .5s;
}

#social-links a:hover {
    background: var(--highlight-color);
}

footer {
    padding: 24px 0px;
    text-align: center;
    font-size: 14px;
}

@media (min-width: 768px) {
    :root {
        --bg-url: url(Assets/Background/bg-desktop-dark.jpg);
    }

    .light {
        --bg-url: url(Assets/Background/bg-desktop-light.jpg);
    }
}

/* animation */
@keyframes slide-in {
    from {
        left: 0;
    }

    to {
        left: 50%;
    }
}

@keyframes slide-out {
    from {
        left: 50%;
    }

    to {
        left: 0;
    }
}