* {
    margin: 0px;
    padding: 0px;
}

h1 {
    height: 100px;
    font-size: 3.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: gold;
    display: flex;
    align-items: center;
    justify-content: center;
}

#text {
    font-size: 1.4em;
    line-height: 3;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}