html {
    font: 5vmin/1.3 Serif;
    overflow: hidden;
    background:rgb(30, 0, 37);
  }
  
  body, head {
    display: block;
    font-size: 52px;
    color: transparent;
  }
  
  head::before, head::after,
  body::before, body::after {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 1.5em;
    height: 3em;
    content: ".";
    mix-blend-mode: screen;
    animation: 44s -27s move infinite ease-in-out alternate;
  }
  
  body::before {
    text-shadow: -0.2644253294em 0.5744438324em 7px rgba(255, 0, 89, 0.9), 0.7842601935em 0.361932456em 7px rgba(0, 102, 255, 0.9), 2.1382537573em 2.3410349641em 7px rgba(255, 248, 0, 0.9), -0.0757825377em 1.402599819em 7px rgba(91, 0, 255, 0.9), 0.3496631352em 1.4550533325em 7px rgba(255, 0, 209, 0.9), 2.2828321178em 2.0988176806em 7px rgba(0, 58, 255, 0.9), 1.9406849185em 2.4250742921em 7px rgba(212, 0, 255, 0.9), 0.5485818741em 0.8109507456em 7px rgba(0, 221, 255, 0.9), 2.1242519175em 2.1689384195em 7px rgba(0, 255, 126, 0.9), 0.1382215317em 0.8512551253em 7px rgba(34, 0, 255, 0.9), 0.9392135357em 0.5922572346em 7px rgba(255, 105, 0, 0.9), 0.6700676465em 1.3457585348em 7px rgba(36, 255, 0, 0.9), 0.2827138535em 1.7917486928em 7px rgba(0, 255, 136, 0.9), 1.5922689845em 2.3523487494em 7px rgba(255, 0, 152, 0.9), 1.0795066029em 2.2885351969em 7px rgba(242, 0, 255, 0.9), 2.3696696007em 0.942999612em 7px rgba(255, 0, 239, 0.9), 1.7644697772em 0.108827166em 7px rgba(0, 255, 34, 0.9), -0.2573518189em 1.2245466226em 7px rgba(142, 255, 0, 0.9), 0.5688545556em 0.8843217125em 7px rgba(0, 255, 143, 0.9), 2.1290447645em 1.1817017829em 7px rgba(255, 67, 0, 0.9);
    animation-duration: 60s;
    animation-delay: -4s;
  }
  
  body::after {
    text-shadow: 1.3518555496em 1.046050588em 7px rgba(0, 248, 255, 0.9), -0.2025812477em 2.3747238253em 7px rgba(103, 0, 255, 0.9), 0.8340775659em 2.4747633522em 7px rgba(255, 0, 130, 0.9), 1.6766096404em 1.3408604169em 7px rgba(102, 0, 255, 0.9), 1.5710450128em 1.279206018em 7px rgba(255, 0, 197, 0.9), 1.162058271em 0.9360815851em 7px rgba(0, 255, 91, 0.9), 0.6246975389em -0.0013458479em 7px rgba(73, 255, 0, 0.9), 0.1363184459em 1.5947300683em 7px rgba(96, 0, 255, 0.9), 1.0250652574em 1.2803790631em 7px rgba(0, 95, 255, 0.9), 2.0617201957em 0.8898646405em 7px rgba(127, 0, 255, 0.9), 1.431488548em 1.2448497635em 7px rgba(0, 250, 255, 0.9), 0.8497345697em 0.1520974996em 7px rgba(255, 0, 87, 0.9), 1.5957463708em 2.2492090443em 7px rgba(69, 0, 255, 0.9), -0.2629305298em -0.3312766532em 7px rgba(0, 255, 211, 0.9), 0.9896856683em 2.3055287275em 7px rgba(0, 89, 255, 0.9), -0.1318720267em -0.0877492466em 7px rgba(255, 0, 157, 0.9), -0.2240822971em 1.1164527477em 7px rgba(152, 0, 255, 0.9), 0.9293070566em 0.3943886557em 7px rgba(255, 198, 0, 0.9), -0.023814819em -0.3377810656em 7px rgba(255, 23, 0, 0.9), 1.7316782554em 0.0679897861em 7px rgba(255, 0, 6, 0.9);
    animation-duration: 60s;
    animation-delay: -32s;
  }
  
  head::before {
    text-shadow: 2.1220505101em 2.14580989em 7px rgba(216, 0, 255, 0.9), -0.3155966542em 1.6992906858em 7px rgba(255, 201, 0, 0.9), 0.1357038042em 0.4106980631em 7px rgba(0, 255, 26, 0.9), 0.3114083947em 1.2734968231em 7px rgba(255, 0, 235, 0.9), 0.4419317688em 1.0432500997em 7px rgba(0, 255, 44, 0.9), 1.3896818733em 2.0657729455em 7px rgba(8, 255, 0, 0.9), 1.0168635963em 1.2640828845em 7px rgba(0, 30, 255, 0.9), 0.2962789921em -0.2525977072em 7px rgba(0, 255, 151, 0.9), 1.6754638284em -0.2740175366em 7px rgba(189, 255, 0, 0.9), 0.3242172161em 0.4511324654em 7px rgba(255, 110, 0, 0.9), 1.9593126438em 1.439525866em 7px rgba(0, 255, 34, 0.9), 1.1706766289em 1.8247052686em 7px rgba(255, 0, 52, 0.9), 2.1105807791em 1.9902887309em 7px rgba(255, 0, 212, 0.9), 2.2471406081em 2.0059874848em 7px rgba(255, 0, 230, 0.9), 1.9658730759em 1.9698398771em 7px rgba(43, 0, 255, 0.9), 2.2222377816em 1.8904213566em 7px rgba(0, 134, 255, 0.9), 1.2307789797em 0.6926529589em 7px rgba(0, 13, 255, 0.9), 1.987185633em 1.5011968033em 7px rgba(255, 255, 0, 0.9), 0.5806483725em 1.7558753651em 7px rgba(0, 255, 77, 0.9), 2.3321732251em -0.4440106424em 10px rgba(150, 255, 0, 0.9);
    animation-duration: 60s;
    animation-delay: -23s;
  }
  
  head::after {
    text-shadow: 0.5871190985em 2.1973308355em 7px rgba(21, 0, 255, 0.9), 2.4354362596em -0.3039436569em 7px rgba(0, 57, 255, 0.9), 1.6807861492em 0.0015130739em 7px rgba(182, 255, 0, 0.9), 0.8546054729em 1.595966089em 7px rgba(255, 0, 179, 0.9), 1.0603589424em 1.9198316317em 7px rgba(255, 0, 95, 0.9), -0.425231736em 1.4998469456em 7px rgba(238, 255, 0, 0.9), 1.4168024575em 0.6506840906em 7px rgba(0, 181, 255, 0.9), 1.4858829777em 0.9725403833em 7px rgba(17, 255, 0, 0.9), 1.4982269481em 2.366350549em 7px rgba(110, 0, 255, 0.9), -0.1333905438em 1.0099560505em 7px rgba(153, 255, 0, 0.9), -0.3424067338em 0.5885267548em 7px rgba(0, 100, 255, 0.9), 0.5536348627em 0.8019276919em 7px rgba(255, 155, 0, 0.9), 1.5374988995em -0.2914905614em 7px rgba(0, 255, 169, 0.9), 0.4318330957em 1.9632180651em 7px rgba(0, 255, 170, 0.9), 0.7790964421em 1.1091282077em 7px rgba(0, 255, 142, 0.9), 0.9167601867em 2.0673231393em 7px rgba(255, 89, 0, 0.9), -0.410349552em 0.7092690816em 7px rgba(255, 94, 0, 0.9), 0.3936698951em 1.013064776em 7px rgba(255, 140, 0, 0.9), 0.9609892073em 1.762252927em 7px rgba(139, 255, 0, 0.9), 0.3186834087em 2.4892820784em 7px rgba(255, 77, 0, 0.9);
    animation-duration: 60s;
    animation-delay: -19s;
  }
  
  @keyframes move {
    from {
      transform: rotate(0deg) scale(12) translateX(-20px);
    }
    to {
      transform: rotate(360deg) scale(18) translateX(20px);
    }
  }