body{
    margin: 0px;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";
    grid-template-rows: 100px 1fr 50px;
    grid-template-columns: 1fr 150px;
}
header{
    grid-area: header;
    background: rgb(189, 143, 236);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8px;
}
main{
    grid-area: main;
    background: rgba(255, 168, 168, 0.979);
}
aside{
    grid-area: aside;
    background: rgb(143, 236, 231);
}
footer{
    grid-area: footer;
    background: rgb(190, 255, 190);
}